<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.shouheng.mvvm">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".comn.ContainerActivity"
                  android:label="@string/mvvm_title_activity_container"
                  android:theme="@style/MVVMSAppTheme.NoActionBar">
        </activity>
    </application>

</manifest>