<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.shouheng.eyepetizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name="me.shouheng.eyepetizer.view.EyepetizerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="me.shouheng.eyepetizer.view.VideoDetailActivity"
            android:theme="@style/VideoTheme"/>
        <activity android:name="me.shouheng.vmlib.comn.ContainerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
    </application>

</manifest>