<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.shouheng.eyepetizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name="me.shouheng.eyepetizer.EyepetizerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="me.shouheng.eyepetizer.VideoDetailActivity"
                  android:theme="@style/VideoTheme"/>
        <provider
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge"
            android:name="me.shouheng.startup.AndroidStartupProvider">
            <meta-data android:name="me.shouheng.eyepetizer.startup.EyeStartupJob" android:value="android.startup"/>
        </provider>
    </application>

</manifest>